/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.sass */
body {
  font-family: "Myriad Pro", helvetica, sans-serif;
  background-image: url(../img/linen.png);
  color: #0071c0;
}
/* line 17, ../sass/screen.sass */
body h1 {
  font-size: 2.33em;
  padding-bottom: 0.5em;
}
/* line 20, ../sass/screen.sass */
body h2 {
  font-size: 1.5em;
  padding: 0.75em 0 0.25em;
}

/* line 24, ../sass/screen.sass */
.container {
  padding: 1em 0.5em;
}

/* line 29, ../sass/screen.sass */
.main-container #client-info fieldset {
  display: block;
  width: 100%;
}
/* line 32, ../sass/screen.sass */
.main-container #client-info label {
  display: block;
  width: 100%;
  float: left;
  line-height: 1.5em;
}
/* line 37, ../sass/screen.sass */
.main-container aside {
  text-align: center;
}
/* line 39, ../sass/screen.sass */
.main-container aside h2 {
  padding: 0;
}
/* line 43, ../sass/screen.sass */
.main-container #creds-area li {
  display: inline-block;
  padding: 0 4em;
}
/* line 47, ../sass/screen.sass */
.main-container #creds-area li:first-child {
  padding-left: 0;
}
/* line 51, ../sass/screen.sass */
.main-container .actions-client a, .main-container #creds-area a {
  text-decoration: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0.5em 0;
  padding: 0.25em 0.8em;
  background-color: #ededed;
  line-height: 1.75em;
  color: #0071c0;
  display: block;
}
/* line 60, ../sass/screen.sass */
.main-container .actions-client a:hover, .main-container #creds-area a:hover {
  background-color: #0080da;
  color: white;
}
