/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass"
@import "compass/reset"

$base-font-size: 21px
$base-color: #0071c0


body
	font-family: 'Myriad Pro', helvetica, sans-serif
	background-image: url(../img/linen.png)
	color: $base-color
	h1 
		font-size: 2.33em
		padding-bottom: 0.5em
	h2
		font-size: 1.5em
		padding: 0.75em 0 0.25em

.container
	padding: 1em 0.5em

.main-container
	#client-info
		fieldset
			display: block
			width: 100%
		label
			display: block
			width: 100%
			float: left
			line-height: 1.5em
	aside
		text-align: center
		h2
			padding: 0		

	#creds-area
		li
			display: inline-block
			padding: 0 4em

			&:first-child
				padding-left: 0

	.actions-client, #creds-area
		a
			text-decoration: none
			+border-radius(10px)
			margin: 0.5em 0
			padding: 0.25em 0.8em 
			background-color: #ededed
			line-height: 1.75em
			color: $base-color
			display: block
			&:hover
				background-color: adjust-lightness($base-color, 5%)
				color: #fff